:root{
    --primaryColor: #ffffff;
    --secondaryColor: #000000;
    --variantColor: #dededf;
    
}

.list{
    background-color: var(--variantColor);
    padding: 0 0 1rem 0;
    border: 1px solid black;
    color: black;
}

.list > h4{

    margin: 0;
    padding: 1rem;
    background-color: black;
    color: white;

}



.listElementTitle{
    margin:  0.3rem 0.5rem;
    padding: 0.3rem 0.5rem;
    color: black;
}