.card{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
    margin: 0 1vw 1vh 1vw;
    
    background-color: white;
    max-width: 20vw;
    width: 300px;

   
}

.cardTopSection{
    background-color: black;
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.inputEditBlock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 1vh;

    width: 100%;
    
}

.deleteButton{
    color: #000000;
    font-weight: bolder;
    background-color: #ff0000;
    border-radius: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem 0.5rem;
}

.deleteButton:hover{
    cursor: pointer;
    background-color: white;
    color: red;
}

.titleInput{
    max-width: 100%;
    text-align: center;
}
.title{

    margin: 0 0;
    padding: 0.7rem 0.5rem;
    color: darkblue;
    color: white;
    
    
}


.editCog{
    display: block;
    max-height: 24px ;
    color: #ffffff;
    padding: 0.2rem 0.5rem;
    min-width:25px;

}
.editCog:hover{
    cursor: pointer;
}
.editCogEditing{
    display: none;
}

.prioritySwitch{
    display: flex;
    flex-direction: row;
}
.priorityButton{
    margin: 0;
    padding: 0.2rem;
    width: 5rem;
    border: 1px solid black;
}
.textBox{
    max-width: 90%;
    overflow: hidden;
    text-wrap: wrap;
}