.wholePage
{
    display: flex;
    flex-direction: row;
}

.listOfCards{
    
}

.newCardForm{
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
    margin: 1vh 1vw;
    padding: 1vh 2vw;
    background-color: darkblue;
}

.newCardForm newCardFormTopTitle{
    color: white;
}

.newCardForm input{
    border-radius: 5px;
    padding: 1vh;
    margin: 1vh;
    
}

.newCardForm label{
    display: flex;
    flex-direction: row;
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newCardFormTopTitle{
    color: white;
}

.newCardFormLowTitle{
    color: white;
    margin: 1vh;
}

.inputRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}

.inputColumn{
    display: flex;
    flex-direction: column;
}

.inputText{
    height: 4vh;
    text-align: start;
    justify-content: start;
    align-items: center;
    padding: 1vh;
    height: fit-content;
  
}

.submitButton{
    width: fit-content;
    height: auto;
    background-color: white;
    color: darkblue;
    border-radius:5px;
}

.randomCardList{
    display: flex;
    flex-direction: column;
    height: fit-content;
   
}