:root{
    --primaryColor: #ffffff;
    --secondaryColor: #000000;
    --variantColor: #dededf;
    --darkColor: #7a7a7a;
    
}

.verticalList{
    background-color: rgb(214, 214, 214);
    border-left: 1px solid var(--darkColor);
    border-right: 1px solid var(--darkColor);
    height: 100%;
    padding: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.title{
    background-color: var(--darkColor);
    display: flex;
    flex-direction: column;
}
.verticalList h3{
    justify-self: center;
    align-self: center;
    
    color: white;
    padding: 1vh 1vw;
}

.element{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5vh 0.5vw;
    margin-top: 0.5vh;
}