:root{
    --primaryColor: #ffffff;
    --secondaryColor: #000000;
    --variantColor: #dededf;
    --darkColor: #7a7a7a;
    
}

.elementPreview{
    background-color: var(--primaryColor);

    display: flex;
    flex-direction: row;
    margin: 0.5vh;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
    align-items: center;
    justify-content: space-between;
    

}

.elementText{
    display: flex;
    flex-direction: row;
    padding: 0.3vh 0.5vw;
    
    
    
}
.elementPreview:hover{
    cursor: pointer;
    background-color: var(--variantColor);
}

.removeElement{
    background-color: red;
    padding: 0.3vh 0.5vw;

    margin: 0;
    height: 100%;
}

.completedSection{
    padding: 0.3vh 0.5vw;
}
